### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [28]:
totalSchools = len(school_data_complete['school_name'].unique())
totalSchools
#school_data_complete.columns

15

In [29]:
totalStudents = school_data_complete['student_name'].count()
totalStudents

39170

In [30]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'year', 'school_name',
       'reading_score', 'maths_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [31]:
totalBudget = school_data_complete['budget'].unique().sum()
totalBudget

24649428

In [32]:
averageMaths = school_data_complete['maths_score'].mean()
averageMaths

70.33819249425581

In [33]:
averageReading = school_data_complete['reading_score'].mean()
averageReading

69.98013786060761

In [34]:
studentsPassingMaths = school_data_complete.loc[school_data_complete['maths_score'] >= 50].count()
passingMaths = (studentsPassingMaths / school_data_complete['Student ID'].count())*100
passingMaths.iloc[0]

86.07863160582077

In [35]:
studentsPassingReading = school_data_complete.loc[school_data_complete['reading_score'] >= 50].count()
passingReading = (studentsPassingReading / school_data_complete['Student ID'].count())*100
passingReading.iloc[0]

84.42685728874139

In [36]:
studentsPassingReadingANDMaths = school_data_complete.loc[(school_data_complete['reading_score'] >= 50) &\
                                                  (school_data_complete['maths_score'] >= 50)].count()
overall = (studentsPassingReadingANDMaths / school_data_complete['Student ID'].count())*100
overall.iloc[0]

72.80827163645647

In [37]:
area_summary = pd.DataFrame({'Total Schools':[totalSchools],
                              'Total Students':[totalStudents],
                              'Total Budget':[totalBudget],
                              'Average Maths Score':[averageMaths],
                              'Average Reading Score':[averageReading],
                              '% Passing Maths':[passingMaths.iloc[0]],
                              '% Passing Reading':[passingReading.iloc[0]],
                              '% Overall Passing':[overall.iloc[0]]})

area_summary['Total Students'] = area_summary['Total Students'].map('{:,.0f}'.format)
area_summary['Total Budget'] = area_summary['Total Budget'].map('${:,.2f}'.format)
area_summary['Average Maths Score'] = area_summary['Average Maths Score'].map('{:.2f}'.format)
area_summary['Average Reading Score'] = area_summary['Average Reading Score'].map('{:.2f}'.format)
area_summary['% Passing Maths'] = area_summary['% Passing Maths'].map('{:.2f}'.format)
area_summary['% Passing Reading'] = area_summary['% Passing Reading'].map('{:.2f}'.format)
area_summary['% Overall Passing'] = area_summary['% Overall Passing'].map('{:.2f}'.format)

area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.34,69.98,86.08,84.43,72.81

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [38]:
school_type = school_data.set_index('school_name')['type']
school_type

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [39]:
school_student = school_data_complete['school_name'].value_counts()
school_student

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [40]:
school_budget = school_data.set_index('school_name')['budget']
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [41]:
student_budget = school_budget / school_student
student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [42]:
average_school_maths = school_data_complete.groupby('school_name').mean()['maths_score']
average_school_maths

C:\Users\danie\AppData\Local\Temp\ipykernel_29716\2006041715.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_school_maths = school_data_complete.groupby('school_name').mean()['maths_score']

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [43]:
average_school_reading = school_data_complete.groupby('school_name').mean()['reading_score']
average_school_reading

C:\Users\danie\AppData\Local\Temp\ipykernel_29716\1159727126.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_school_reading = school_data_complete.groupby('school_name').mean()['reading_score']

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [44]:
school_maths = school_data_complete[school_data_complete['maths_score'] >= 50]
per_school_maths = school_maths.groupby('school_name').count()["Student ID"] / school_student * 100
per_school_maths

Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [45]:
school_reading = school_data_complete[school_data_complete['reading_score'] >= 50]
per_school_reading = school_reading.groupby('school_name').count()["Student ID"] / school_student * 100
per_school_reading

Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [46]:
school_overall = school_data_complete.loc[(school_data_complete['reading_score'] >= 50) &\
                                          (school_data_complete['maths_score'] >= 50)]
per_school_overall = school_overall.groupby('school_name').count()["Student ID"] / school_student * 100
per_school_overall

Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
dtype: float64

In [47]:
per_school_summary = pd.DataFrame({'School Type':school_type,
                           'Total Student':school_student,
                           'Total School Budget':school_budget,
                           'Per Student Budget':student_budget,
                           'Average Math Score':average_school_maths,
                           'Average Reading Score':average_school_reading,
                           '% Passing Maths':per_school_maths,
                           '% Passing Reading':per_school_reading,
                           '% Overall Passing':per_school_overall})
per_school_summary['Total School Budget'] = per_school_summary['Total School Budget'].map('${:,.2f}'.format)
per_school_summary['Per Student Budget'] = per_school_summary['Per Student Budget'].map('${:,.2f}'.format)

per_school_summary

,School Type,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [48]:
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False).head()

top_schools

,School Type,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [251]:
bottom_schools = per_school_summary.sort_values('% Overall Passing').head()

bottom_schools

,School Type,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [24]:
year9_maths = school_data_complete[school_data_complete['year'] == 9].groupby(['school_name'])['maths_score'].mean()
year10_maths= school_data_complete[school_data_complete['year'] == 10].groupby(['school_name'])['maths_score'].mean()
year11_maths= school_data_complete[school_data_complete['year'] == 11].groupby(['school_name'])['maths_score'].mean()
year12_maths= school_data_complete[school_data_complete['year'] == 12].groupby(['school_name'])['maths_score'].mean()
year12_maths

school_name
Bailey High School       72.675097
Cabrera High School      70.604712
Figueroa High School     69.325282
Ford High School         68.617811
Griffin High School      71.469178
Hernandez High School    68.985075
Holden High School       73.409639
Huang High School        68.639316
Johnson High School      69.287393
Pena High School         71.187845
Rodriguez High School    72.154626
Shelton High School      72.331536
Thomas High School       69.369822
Wilson High School       69.787472
Wright High School       70.848238
Name: maths_score, dtype: float64

In [25]:
maths_scores_by_year = pd.DataFrame({'Year 9':year9_maths,
                        'Year 10':year10_maths,
                        'Year 11':year11_maths,
                        'Year 12':year12_maths
                        })

maths_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [22]:
year9_reading = school_data_complete[school_data_complete['year'] == 9].groupby(['school_name'])['reading_score'].mean()
year10_reading= school_data_complete[school_data_complete['year'] == 10].groupby(['school_name'])['reading_score'].mean()
year11_reading= school_data_complete[school_data_complete['year'] == 11].groupby(['school_name'])['reading_score'].mean()
year12_reading= school_data_complete[school_data_complete['year'] == 12].groupby(['school_name'])['reading_score'].mean()
year12_reading

school_name
Bailey High School       72.195525
Cabrera High School      71.856021
Figueroa High School     69.082126
Ford High School         68.849722
Griffin High School      69.434932
Hernandez High School    69.244136
Holden High School       70.481928
Huang High School        68.671795
Johnson High School      67.992521
Pena High School         71.513812
Rodriguez High School    71.414449
Shelton High School      69.070081
Thomas High School       68.730769
Wilson High School       69.888143
Wright High School       69.821138
Name: reading_score, dtype: float64

In [23]:
reading_scores_by_year = pd.DataFrame({'Year 9':year9_reading,
                        'Year 10':year10_reading,
                        'Year 11':year11_reading,
                        'Year 12':year12_reading
                        })

reading_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [68]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
per_school_summary['Per Student Budget'] = per_school_summary['Per Student Budget'].replace('[\$,]','',regex=True).astype(float)
per_school_summary['Spending Ranges(Per Student)'] = pd.cut(per_school_summary['Per Student Budget'], spending_bins, labels = labels, include_lowest=True)
df_summary = per_school_summary[['Spending Ranges(Per Student)', 'Average Math Score', 'Average Reading Score', '% Passing Maths', '% Passing Reading', '% Overall Passing']].reset_index(drop=True)
spending_summary = df_summary.groupby('Spending Ranges(Per Student)').mean()
spending_summary

,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges(Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

## Scores by School Size

* Perform the same operations as above, based on school size.

In [71]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
per_school_summary['School Size'] = pd.cut(per_school_summary['Total Student'], size_bins, labels = labels, include_lowest=True)
df_size_summary = per_school_summary[['School Size', 'Average Math Score', 'Average Reading Score', '% Passing Maths', '% Passing Reading', '% Overall Passing']].reset_index(drop=True)
size_summary = df_size_summary.groupby('School Size').mean()
size_summary

,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## Scores by School Type

* Perform the same operations as above, based on school type

In [74]:
df_type_summary = per_school_summary[['School Type', 'Average Math Score', 'Average Reading Score', '% Passing Maths', '% Passing Reading', '% Overall Passing']].reset_index(drop=True)
type_summary = df_type_summary.groupby('School Type').mean()
type_summary

,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340